<div class="container">
    <h2>Lista de Compras</h2>
    <h3>Relação dos itens</h3>
  <ul>
    <ng-container *ngFor="let item of items; let i = index">
      <li *ngIf="!item.purchased">
        <div *ngIf="!item.editing">
          Descrição: {{ item.item }}, Quantidade: {{ item.quantity }}
          
          <button (click)="togglePurchased(i)" class="buy">
            <i class="fas fa-circle"></i>
            Comprar
          </button>
          
          <button (click)="enableEdit(i)" class="edit">
            <i class="fas fa-edit"></i> Editar
          </button>
          
          <button (click)="removeItem(i)">
            <i class="fas fa-trash"></i> Remover
          </button>
        </div>

        <div *ngIf="item.editing">
          <input [(ngModel)]="item.item" placeholder="Descrição" />
          <input [(ngModel)]="item.quantity" type="number" placeholder="Quantidade" min="1" />
          <button (click)="saveEdit(i)" class="saved">Salvar</button>
          <button (click)="cancelEdit(i)">Cancelar</button>
        </div>
      </li>
    </ng-container>
  </ul>

  <h3>Comprados</h3>
  <ul>
    <ng-container *ngFor="let item of items; let i = index">
      <li *ngIf="item.purchased">
        <div *ngIf="!item.editing">
          Descrição: {{ item.item }}, Quantidade: {{ item.quantity }}
          
          <button (click)="togglePurchased(i)">
            <i class="fas fa-check-circle"></i>
            Retirar
          </button>
          
          <button (click)="enableEdit(i)" class="edit">
            <i class="fas fa-edit"></i> Editar
          </button>
          
          <button (click)="removeItem(i)">
            <i class="fas fa-trash"></i> Remover
          </button>
        </div>

        <div *ngIf="item.editing">
          <input [(ngModel)]="item.item" placeholder="Descrição" />
          <input [(ngModel)]="item.quantity" type="number" placeholder="Quantidade" min="1" />
          <button (click)="saveEdit(i)" class="saved">Salvar</button>
          <button (click)="cancelEdit(i)">Cancelar</button>
        </div>
      </li>
    </ng-container>
  </ul>
<app-form-compras (newItemEvent)="addItem($event)"></app-form-compras>
</div>
